/* Thiết lập hình nên full màn hình */
.backgroundImg {
  background-image: url(../IMG/ChatGPT\ Image\ 22_11_10\ 26\ thg\ 1\,\ 2026.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -1;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #5c5959;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.containerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #f0eeee;
  height: 70px;
  /* Căn giữa các đối tượng */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 97%;
}
.menu li {
  /* Giúp cho các đối tượng trong danh sách chuyển sang nằm ngang */
  display: inline-block;
}
.menu a {
  text-decoration: none;
  padding: 20px;
  color: #837e7e;
}
.missPass {
  text-decoration: none;
  color: #837e7e;
}
.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}
#email,
#pass {
  height: 40px;
  width: 380px;
  border-radius: 4px;
}
#btLogin {
  height: 40px;
  width: 380px;
  background-color: rgb(36, 36, 36);
  color: white;
  border-radius: 4px;
  font-size: 20px;
}
.bgLogin {
  background-color: rgba(255, 255, 255, 0.595);
  padding: 30px;
  box-shadow: 0px 0px 4px black;
  width: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
